/*
---------------------------------
       Header and Footer
---------------------------------
  flex: 0 1 auto;
*/
.footer-main {

  order: 99;
  font-size: 10px;
  bottom: 0px;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-list-item {
  text-align: center;
  padding: 0 5px;
  float: left;
}
