---
---

@import "{{ site.theme }}";


/*
 ---------------------------------
        About Page
 ---------------------------------
*/
.profile-image {
  float: left;
  height: 200px;
  padding: 5px;
}

.about-body {
  text-align: justify;
}

/*
---------------------------------
       Header and Footer
---------------------------------
*/

.footer-main {
  order: 99;
  bottom: 0px;
  position: fixed;
  padding: 5px 5px 0px 5px;
  text-align: right;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-list-item {
  display: inline;
  font-size: 10px;
}

.header-list {

}

.header-list-item {
  display: inline;
}

.header-list-link {
}

/*
---------------------------------
              Blog
---------------------------------
*/

