/* stylesheet for gabrielconlon@github.io */
body {
	background: #222629;
	font-family: 'Share Tech Mono', monospace;
	font-size: 25px;
	color: white;
    margin: 0px 0px;
}

/* Header and Footer */
.footer-main {
    position: fixed;
    font-size: 10px;
    bottom: 0px;
}

.footer-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    
}

.footer-list-item {
    text-align: center;
    padding: 0 5px;
    float: left;
}

.title-main {
	font-size: 30px;
	color: #61892f;
	text-align: left;
}

.header {
    margin: 5px 0px;
}

/* Menu Bar */
.menu-list {
	list-style-type: none;
	margin: 10px 0px;
	padding: 0;
	overflow: hidden;
	background-color: #474b4f;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.menu-list-item {
	text-decoration: none;
	color: white;
	text-align: center;
    padding: 8px 16px;
	float: left;
    font-size: 15px;
}

.menu-list-item:hover:not(.active) {
	background: #86C232;
}	

ul li:active, 
body.home li.home a,
body.blog li.blog a,
body.about li.about a 
body.index li.index a {
    background: #61892f;
}

.table-branding {
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
}

.table-columns-branding {
    text-align: center;
    padding: 0px 20px;
}

.login {
    float:right;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 10px;
}
