body {
	background: rgb(34, 38, 41);
	font-family: 'Share Tech Mono', monospace;
	font-size: 25px;
	color: white;
}

footer {
    position: fixed;
    font-size: 10px;
    bottom: 0px;
}

.footer-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

h1 {
	font-size: 50px;
	color: rgb(97, 137, 47);
	text-align: center;
}

button {
	background: rgb(134, 194, 50);
}

.menu-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(71, 75, 79);
}

li {
	float: left;
    padding: 14px 16px
}

li a {
	text-decoration: none;
	color: white;
	text-align: center;
    padding: 14px 16px;

}

li a:hover {
	background: rgb(134, 194, 50);
}	

form {
	padding: 20px 20px;
}
