/* stylesheet for gabrielconlon@github.io */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
	background: #222629;
	font-family: 'Share Tech Mono', monospace;
	font-size: 25px;
	color: white;
    margin: 0px 0px;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.note {
  font-size: 15px;
  text-align: center;
  font-style: italic;
}

/*
---------------------------------
       Header and Footer
---------------------------------
*/
.footer-main {
  flex: 0 1 auto;
  order: 99;
  font-size: 10px;
  bottom: 0px;
}

.footer-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.footer-list-item {
    text-align: center;
    padding: 0 5px;
    float: left;
}

.title-main {
	font-size: 30px;
	color: #61892f;
	text-align: left;
}

.header {
    margin: 5px 0px;
}
/*
---------------------------------
             Menu Bar
---------------------------------
*/
.menu-list {
	list-style-type: none;
	margin: 10px 0px;
	padding: 0;
	overflow: hidden;
	background-color: #474b4f;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.menu-list-item {
	text-decoration: none;
	color: white;
	text-align: center;
    padding: 8px 16px;
	float: left;
    font-size: 15px;
}

.menu-list-item:hover:not(.active) {
	background: #86C232;
}

/* active highlighting on menu items */
ul li:active,
body.home li.home a,
body.blog li.blog a,
body.about li.about a
body.index li.index a {
    background: #61892f;
}
/* for social media icons, resume, and other "personal branding" */
.table-branding {
    font-size:15px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.table-columns-branding {
    text-align: center;
    padding: 0px 20px;
}

.login {
    float:right;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 10px;
}

/*
---------------------------------
      Digital Business Card - index
---------------------------------
*/
.github-stats {
    display: flex;
    width: 60%;
}

.connect-image {
    width: 30%;
    text-align: center;
}

.socialmedia-menu-item {
    float: right;
    width: 30px;
    padding: 0px 5px;
}

/*
---------------------------------
               Login
---------------------------------
*/

.login-form {
  flex: 0 1 auto;
  font-size: 15px;
}

.login-label {

}

.login-input {
  
}

.login-submit {

}

/*
---------------------------------
               Blog
---------------------------------
*/
.blog-list {
  list-style: none;
  flex: 0 1 auto;
  order: 2;
  padding: 0;
}

.blog-post {
  border: 1px solid rgb(50%, 50%, 50%);
}
.blog-post + .blog-post {
  margin-top: 10px;
}

.blog-title {
  padding: 0px 5px;
}

.blog-image {
  displa: block;
  width: 100%;
}
